project:
  type: website

website:
  title: "howj's blog"
  site-url: https://blog.howj.xyz
  open-graph: true
  twitter-card: true
  search: 
    keyboard-shortcut: ['/']
  navbar:
    right:
      - icon: person-circle
        href: https://github.com/
      - icon: github
        href: https://github.com/lalaorya
include-in-header:
  file: cloudflare.html

format:
  html:
    theme:
      light: cosmo
      dark: cosmo-dark.scss
    css: styles.css



