project:
  type: website

website:
  title: "Umupa"
  favicon: favicon.svg
  site-url: https://umupa.fun
  open-graph: true
  twitter-card: true
  search: false
  navbar: false

include-in-header:
  - file: cloudflare.html

format:
  html:
    theme: cosmo
    css: styles.css
    page-layout: full
    include-before-body: _includes/custom-header.html
    include-after-body: _includes/date-formatter.html
