---
// Giscus 评论组件
---

<div class="giscus-wrapper">
  <script
    src="https://giscus.app/client.js"
    data-repo="umupa/blog"
    data-repo-id="R_kgDONyPU6Q"
    data-category="Announcements"
    data-category-id="DIC_kwDONyPU6c4C0UA1"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async
  ></script>
</div>

<style>
  .giscus-wrapper {
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    border-top: 1px solid var(--border-color);
    margin-top: 3rem;
    padding-top: 2.5rem;
  }
</style>
